/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 juin 2017, 16:11:04
    Author     : adychka
*/

#menu{
    width: 30%;
    height: 100%;
    float:left;
    background-color: #F8F8F8;
}
#cy {
    width: 70%;
    height: 100%;
    display:block;
    border-style: groove;
    border-width: 3px;
    float: left;
}
#workspace{
    width: 100vw;
    height: 100%;
}
html, body {
    overflow: auto;
    height: 100vh;
}
#logic_input_type,#b_create,#b_update,#b_add,#node_delete{
    margin: 10px;
}
#update_container,#create_container{
    text-align: center;
     margin: 10px;
     width: 100%;
    
}
#update_container{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}
#create_container{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}
select{
    width: 70%;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
}
.form-control{
    width: 80%;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
}
.label {
    display: inline-block;
}
.logic{
      width: 40%;
    margin: 10px;
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
}
.title{
    margin-left: 50px;
}
#harm_tree_description{
    height:100px;
}
#hint{
    position: absolute;
    bottom: 100px;
    right: 30px;
}

