/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 juil. 2017, 15:21:02
    Author     : adychka
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 juin 2017, 16:11:04
    Author     : adychka
*/

#cy {
    width: 70%;
    height: 100%;
    display:block;
    border-style: groove;
    border-width: 3px;
    float: left;
}
#workspace{
    width: 100vw;
    height: 100%;
}
html, body {
    overflow: auto;
    height: 100vh;
}

