/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 juin 2017, 14:00:15
    Author     : adychka
*/

#btn_nav{
    margin-left: 10px;
    margin-top: 10px;
}